header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: var(--spacing--100);
}

.p_header {
    font-size: var(--font-30);
    font-weight: bold;
}

.ul_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing--10);
    font-size: var(--font-14);
}

.li_header {
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}

.li_header:hover {
    opacity: 60%;
}


.input_header {
    width: var(--spacing--200);
    height: var(--spacing--24);
    border-radius: var(--spacing--50);
    border: none;
    background: var(--grey-color);
    padding: var(--spacing--10) var(--spacing--24);
    outline: none;
    font-size: var(--font-14);
}

.div_header{
    display: flex;
    flex-direction: row;
    gap: var(--spacing--10);
    font-size: var(--font-14);
}

.button_header {
    border-radius: var(--spacing--10);
    border: none;
    height: var(--spacing--50);
    background-color: var(--black-color);
    color: var(--white-color);
    width: var(--spacing--100);
    font-weight: 600;
    font-size: var(--font-8);
    cursor: pointer;
    transition: 0.3s ease;
}

.button_header:nth-child(1):hover {
    opacity: 70%;
}

.button_header:nth-child(2){
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    transition: 0.3s ease;
}

.button_header:nth-child(2):hover{
    color: var(--white-color);
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
}