.article_section-mention {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_main {
    font-size: var(--font-14);
}

.article_section {

}

.h2_main {
    font-size: var(--font-60);
}

.article_section {

}

.img_main {

}

.p_main-name {
    font-size: var(--font-20);
    font-weight: bold;
}

.p_main {

}
